.modal {
  display: none;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: #000;
  background-color: rgba(0, 0, 0, .4)
}

.modal,
.modal-container {
  width: 100%;
  height: 100%
}

.modal-content {
  margin-top: 300px;
  box-sizing: border-box;
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  min-width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.modal-content .close {
  float: right;
  transition: color .2s ease-in-out
}

.modal-content .close:hover {
  color: "red";
  cursor: pointer
}

.modal-content .button-row {
  max-width: 100%;
  margin-top: 20px
}

.modal.is-open {
  display: block
}

html body {
  background: #fff;
  padding-top: 70px;
  color: #5e5e5e!important;
  font-size: 13px!important
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 h1,
h2,
h3,
h4,
h5,
h6,
html body {
  font-family: Lato, Helvetica Neue, Arial, Helvetica, sans-serif!important
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300!important
}

.navbar-default .navbar-nav>li>a:hover {
  color: #555;
  background-color: #e7e7e7
}

.dropdown:hover .dropdown-menu {
  display: block
}

ul.footer-nav {
  padding: 0;
  margin: 0
}

ul.footer-nav>li {
  display: inline-block;
  padding-right: 5px
}

.footer-nav li:after {
  content: " |"
}

.footer-nav li:last-of-type:after {
  content: ""
}

p.copyright>span {
  color: #777
}

.rbc-btn {
  color: inherit;
  font: inherit;
  margin: 0
}

button.rbc-btn {
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer
}

button[disabled].rbc-btn {
  cursor: not-allowed
}

button.rbc-input::-moz-focus-inner {
  border: 0;
  padding: 0
}

.rdt {
  position: relative
}

.rdtPicker {
  display: none;
  position: absolute;
  width: 250px;
  padding: 4px;
  margin-top: 1px;
  z-index: 99999!important;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
  border: 1px solid #f9f9f9
}

.rdtOpen .rdtPicker {
  display: block
}

.rdtStatic .rdtPicker {
  box-shadow: none;
  position: static
}

.rdtPicker .rdtTimeToggle {
  text-align: center
}

.rdtPicker table {
  width: 100%;
  margin: 0
}

.rdtPicker td,
.rdtPicker th {
  text-align: center;
  height: 28px
}

.rdtPicker td {
  cursor: pointer
}

.rdtPicker .rdtTimeToggle:hover,
.rdtPicker td.rdtDay:hover,
.rdtPicker td.rdtHour:hover,
.rdtPicker td.rdtMinute:hover,
.rdtPicker td.rdtSecond:hover {
  background: #eee;
  cursor: pointer
}

.rdtPicker td.rdtNew,
.rdtPicker td.rdtOld {
  color: #999
}

.rdtPicker td.rdtToday {
  position: relative
}

.rdtPicker td.rdtToday:before {
  content: "";
  display: inline-block;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #428bca;
  border-top-color: rgba(0, 0, 0, .2);
  position: absolute;
  bottom: 4px;
  right: 4px
}

.rdtPicker td.rdtActive,
.rdtPicker td.rdtActive:hover {
  background-color: #428bca;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .25)
}

.rdtPicker td.rdtActive.rdtToday:before {
  border-bottom-color: #fff
}

.rdtPicker td.rdtDisabled,
.rdtPicker td.rdtDisabled:hover {
  background: none;
  color: #999;
  cursor: not-allowed
}

.rdtPicker td span.rdtOld {
  color: #999
}

.rdtPicker td span.rdtDisabled,
.rdtPicker td span.rdtDisabled:hover {
  background: none;
  color: #999;
  cursor: not-allowed
}

.rdtPicker th {
  border-bottom: 1px solid #f9f9f9
}

.rdtPicker .dow {
  width: 14.2857%;
  border-bottom: none
}

.rdtPicker th.rdtSwitch {
  width: 100px
}

.rdtPicker th.rdtNext,
.rdtPicker th.rdtPrev {
  font-size: 21px;
  vertical-align: top
}

.rdtNext span,
.rdtPrev span {
  display: block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.rdtPicker th.rdtDisabled,
.rdtPicker th.rdtDisabled:hover {
  background: none;
  color: #999;
  cursor: not-allowed
}

.rdtPicker thead tr:first-child th {
  cursor: pointer
}

.rdtPicker thead tr:first-child th:hover {
  background: #eee
}

.rdtPicker tfoot {
  border-top: 1px solid #f9f9f9
}

.rdtPicker button {
  border: none;
  background: none;
  cursor: pointer
}

.rdtPicker button:hover {
  background-color: #eee
}

.rdtPicker thead button {
  width: 100%;
  height: 100%
}

td.rdtMonth,
td.rdtYear {
  height: 50px;
  width: 25%;
  cursor: pointer
}

td.rdtMonth:hover,
td.rdtYear:hover {
  background: #eee
}

.rdtCounters {
  display: inline-block
}

.rdtCounters>div {
  float: left
}

.rdtCounter {
  height: 100px;
  width: 40px
}

.rdtCounterSeparator {
  line-height: 100px
}

.rdtCounter .rdtBtn {
  height: 40%;
  line-height: 40px;
  cursor: pointer;
  display: block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.rdtCounter .rdtBtn:hover {
  background: #eee
}

.rdtCounter .rdtCount {
  height: 20%;
  font-size: 1.2em
}

.rdtMilli {
  vertical-align: middle;
  padding-left: 8px;
  width: 48px
}

.rdtMilli input {
  width: 100%;
  font-size: 1.2em;
  margin-top: 37px
}


/*!